html {
  background: black;
  height: 100%;
  border-right: 5px solid gray;
  border-left: 5px solid gray;
  font-family: "Nunito Sans";
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0px 2px;
  background-color: black;
  width: 99%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin: 0;
}

.header {
  background-color: #708090;
  height: 100px;
  width: 99%;
}

ul {
  display: inline-flex;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  padding: 5px;
  width: 400px;
  justify-content: start;
  margin-left: 16%;
  list-style-type: none;
  border-radius: 3px;
  position: absolute;
  font-size: 13pt;
}

nav {
  /* position: relative; */
  padding: 10px;
}

#grid {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 10px;
}

#grid-header {
  display: grid;
  grid-template-columns: 31% 69%;
}

div.left {
  /* margin-left: -30px; */
  width: 100%;
  float: left;
  clear: both;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-left: 9px;
}

div.right {
  width: 100%;
  float: right;
  clear: both;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

#container {
  margin: 15px 15px 20px 15px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}
.container-table {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.container-header {
  color: rgb(254, 101, 2);
}
.container-title {
  font-weight: bold;
  display: inline-flex;
}

#product-container {
  display: flex;
}

.product-content.top-product-content {
  margin-left: -60px;
  margin-top: 30px;
}

.product-title {
  justify-content: space-evenly;
  width: 238px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  margin-left: 1.5%;
  text-align: middle;
  font-weight: 900;
  font-size: 20px;
}

.product-info {
  border: 1px transparent rgb(254, 141, 64);
  justify-content: space-evenly;
  border-radius: 10px;
  width: 223px;
  height: 352px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(254, 141, 64);
  padding: 20px;
  margin-left: 2.5%;
  line-height: 1.5em;
}

.product-content {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.product-content.bottom-product-content {
  padding-bottom: 31px;
  margin-top: 2px;
}

nav:hover {
  border: 1px solid #b0b0b0;
  background: #e4e4e4;
  border-radius: 5px;
  /* padding: 1px; */
  cursor: pointer;
}
